<main class="home-container">
<div>
   <% flash.each do |name,value|%>
      <%if value == "Signed out successfully."%>
    <p  class="signing-out">
    <%= value %>
    </p>
   <%else%>
    <p class="signing-in" >
    <%= value %>
    </p>
    <%end%>
    <% end %>
  </div>
  <div class="">
    <h1 class="welcome">
      Welcome to Expense Tracker
    </h1>
  </div>
       <% if user_signed_in?%>
       <div class="user-welcome">
    <p>
      Hello <%= current_user.name %>! 
    </p>
    </div>
    <%= render "expenses/expenses" %>
    <%end%>



 
</main>
