<main class="">
  <div class="">
    <h1 class="">
      Welcome to Expense Tracker
    </h1>
  </div>
       <% if user_signed_in?%>
    <p>
      Welcome <%= current_user.name %>! 
    </p>
    <%end%>
 
</main>
