<main class="border-2  w-[75vw] h-[25vw] flex items-center flex-col">
  <div class="">
    <h1 class="text-3xl mt-1 title">
      Welcome to Expense Tracker
    </h1>
  </div>
       <% if user_signed_in?%>
    <p>
      Welcome <%= current_user.name %>! 
    </p>
    <%end%>
 
</main>
