body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(205,204,227);
  background: linear-gradient(90deg, rgba(205,204,227,1) 0%, rgba(238,218,218,0.9084500010941877) 78%, rgba(212,212,237,1) 92%, rgba(180,218,226,1) 100%);
}

.main {
  background-color: #add8e6;
  color: #0d0e0e;
  margin: 0;
  padding: 0;
  border: 10px solid #041e42;
  min-height: 41vw;
}
.expenses {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  border: 3px solid rgb(25, 26, 119);
  border-radius: 30px;
 box-shadow: #0a0c99;
 min-height: 24vw;
 max-height: 24vw;
  overflow-x: auto;
  overflow-y: auto;
}
.expenses:hover {
  box-shadow: #0a0c99 0px 0px 5px 5px;
}
.add-expense{ 
margin: 1vw;
display: flex;
flex-direction: row;
width:70vw ;
}
.add-expense h2{
  justify-self: start;
  font-size: 2vw;
}
.add {
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 39vw;

}
.add-expense-btn {
  background-color: #09136a;
  color: #ffffff;
  border: 2px solid #080142;
  border-radius: 8px;
  width: 10vw;
  height:3vw;
  font-size: 1.2vw;
  margin-top: 1vw;
  margin-right: 1vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.delete-btn{ 
  background-color: #09136a;
  color: #ffffff;
  border: 2px solid #080142;
  border-radius: 8px;
  width: 7.2vw;
  height:2.4vw;
  font-size: 1.1vw;
  margin-top: 1vw;
  margin-right: 1vw;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.delete-btn:hover {
  background-color: #e8f0cd;
  color: #0d0640;
  border: 2px solid #0f0fa9;
  box-shadow: inset 0 -100px 0 0 #99d40f;
}
.add-expense-btn:hover {
  background-color: #e8f0cd;
  color: #0d0640;
  border: 2px solid #0f0fa9;
  box-shadow: inset 0 -100px 0 0 #99d40f;
}

/*-----------------------------table light*/
.table{
  width: 70vw  ;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
  background-color: #131592;
  color: #ffffff;
  text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #8ac7eb;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #140b8b;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}




/* ---------------------------------- navbar light*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vw;
  color: rgb(10, 10, 11);
  width: auto;
  background-color: #add8e6;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon span {
  margin-right: 1vw;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo {
  width: 4vw;
  height: 4vw;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 50%;
}
.logo:hover {
  box-shadow: #484b4b 0px 0px 3px 3px;
}
.sign-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: 6vw;
}

.sign-out-btn {
  background-color: #09136a;
  color: #edc2c2;
  border: 2px solid #212121;
  border-radius: 8px;
  width: 10vw;
  height: 3.6vw;
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-out-btn:hover {
  background-color: #e8f0cd;
  color: #0d0640;
  border: 2px solid #0f0fa9;
  box-shadow: inset 0 -100px 0 0 #99d40f;
}
.sign-out-btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/* ---------------------------------- sign up light*/
.main-reg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vw;
  align-items: center;
  background-color: rgb(190, 218, 218);
  height: 32vw;
  border-radius: 45px;
  box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.2), 0 1px 50px 0 rgba(0, 0, 0, 0.19);
  width: 40vw;
}

.signup-container:hover {
  box-shadow: #95a0a0 0px 0px 5px 5px;
}

.button-signup {
  background-color: #3aabab;
  color: #ffffff;
  border: 2px solid #212121;
  border-radius: 8px;
  width: 20vw;
  height: 3.6vw;
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.button-signup:hover {
  background-color: #0b0985;
  color: #a1ac70;
  border: 2px solid #809b07;
}

.inputs {
  background-color: #ffffff;
  color: #0d0e0e;
  border: 2px solid #212121;
  border-radius: 8px;
  width: 20vw;
  height: 3.1vw;
  font-size: 1.5vw;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
}
.inputs::placeholder {
  color: rgb(108, 59, 67);
  font-weight: bold;
  font-size: 1.3vw;
  text-transform: capitalize;
}
.title-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-cont h2 {
  font-size: 2.7vw;
  font-weight: bold;
  color: rgb(25, 25, 28);
  margin-bottom: 1vw;
  margin-top: 1vw;
}

/* ---------------------------------- home light*/
.home-container {
  width: auto;
  height: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
}

.signing-out {
  font-size: 1.1vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a0c99;
}
.out-flash {
  justify-self: start;
}
.signing-in {
  font-size: 1.5vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a27da;
}
.title-welcome {
  margin-top: -2vw;
  font-size: 1.2vw;
}
.user-welcome {
  height: 2vw;
  position: relative;
  left: 88vw;
  top: -2vw;
  font-size: 1.1vw;
  width: 10vw;
  text-align: center;
  font-weight: 600;
}
.flashes {
  display: flex;
  flex-direction: row;
  height: 2vw;
}
.expenses-empty{
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  border: 3px solid rgb(25, 26, 119);
  border-radius: 30px;
 box-shadow: #0a0c99;
 min-height: 24vw;
 max-height: 24vw;

}
.modal {
  position: fixed;
    z-index: 1;
    padding: 2em;
    
    /* Centering */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    /* Add the drop shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.cancel-button {
  background-color: #1530ff;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
.cancel-button:hover {
  background-color: #2640fe;
}
